@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variable.css"

* {
    margin:0;
    padding: 0;
}

body {
    font-family: "Poppins", serif;
    font-weight: 400;
    color:var(--body-color);
    font-size: 16px;
    background: var(--main-color);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: auto;
}

header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: var(--body-color); 
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 5px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background: #844501;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.gamepad {
    transform: translateY(-135px);
}

.hero--info {
    width: 527px;
    padding-top: 70px;
    height: 512px;
}

.hero--info h2 {
    color:#E87D0E;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: 600;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero-about .info .btn {
    background: #FA8305;
    color:var(--body-color);
    border-radius:40px;
    padding: 15px 30px;
    font-size: 17px;
    border:0;
    transition: all 500ms ease;
}

.hero--info .btn:hover, .hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero .hero-banner {
    position: absolute;
    top: -150px;
    right: 0px;
}

/*Секция с топ играми*/
.trending {
    padding-top: 50px;
}

.trending h3 {
font-weight: 600;
font-size: 31px;
}

.trending .see-all, .projects .see-all {
    color: var(--body-color);
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0 ;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span .top-games {
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px;
}

.banner h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner .banner-img {
    width: 100%;
    margin-bottom: 30px;
}

/* Секция с изображением */

.features {
    background: url('/img/fon.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 826px ;
    margin-left: auto;
    margin-right: auto;
}

.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 826px ;
    margin-left: auto;
    margin-right: auto;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block .features-img {
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.projects p {
    text-align: center;
    margin-bottom: 70px;
    max-width: 497px;
    margin-left: auto;
    margin-right: auto;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* Нижняя часть*/

.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600;
    margin-top: 150px;
}

.email .block {
    background: var(--second-color);
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: var(--body-color);
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: "Poppins", serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: var(--body-color);
}

/*Страница про нас*/

.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 250px 0;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info .btn {
    margin-top: 50px;
}

.hero-about img {
    position:absolute;
    right: -150px;
    top: 0;
}

.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: var(--second-color);
}
.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}


.work .blocks .block .badge {
    border-radius: 7px;
    padding: 10px 20px;
}

.work .blocks .block .badge.purple {
    background: #4C025F;
}

.work .blocks .block .badge.brown {
    background: #7A2804;
}

.work .blocks .block .badge.green {
    background: #027B50;
}

/* Footer */

footer {
    padding: 50px 0;
    background: #070707;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p {
    text-align: center;
}

.banner2 {
    padding: 110px;
    background: var(--second-color);
    height: 550px;
}

.banner2 .info {
    width: 1300px;
    padding: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 1400px;
    margin: auto;
}

.banner2 h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    padding-top: 150px;
    margin-bottom: 15px;
}

.banner2 h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 35px;
}

.banner2 p {
    text-align: start;
    
}

.banner-img {
    width: 500px;
    padding: 50px 35px;
    margin-right: 130px;
}

.team {
    height: 350px;
    width: 1250px;
    margin: 0 auto;
    padding: 70px 0;
}

.teams-card >.card {
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    width: 300px;
    height: 250px;
    margin-top: 50px;
    border-radius: 15px;
    justify-content: center;
}

.card >.card-img {
    width: 123px;
    height: 123px;
    margin: 0 auto;
}

.card > h1 {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.card > p {
    text-align: center;
}


.teams-card {
    display: flex;
    justify-content: space-between;
    gap:50px;
}

/* Страница контактов */

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 70px 133px;
}

.hero-contacts {
    text-align: center;
    margin-bottom: 93px;
    margin-top: 93px;
}

.hero-contacts .map {
    margin-top: 93px;
}

.social-icons {
    display: flex;
    justify-content: start;
}

.circle {
    background: var(--second-color);
    border-radius: 100%;
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0 330px;
    font-size: 20px;
}

.gps {
    display: flex;
}

.feedback {
    padding: 70px 0;
    background:var(--second-color);
}

.feedback h2 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback .inline > div {
    width: 50%;
}

.feedback form label {
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea {
    background: #2C2420;
    border-radius: 9px;
    border: 0.6px solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: var(--body-color);
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 95%;
}

.feedback form textarea {
    resize: none;
    height: 260px;
}

.feedback form button {
    background: #DC7000;
    padding: 15px 40px;
    border-radius: 10px;
    color: var(--body-color);
    border: 0;
    float: right;
    cursor: pointer;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #844501;
}

/* Страница портфолио */

.portfolio h1  {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
}

.portfolio p {
    text-align: center;
    margin-bottom: 45px;
}
.portfolio .info  {
    background: var(--second-color);
    margin: 170px;
    height:200px;
    width: 1140px;
    margin: auto;
}

.portfolio .info-portfolio {
    display: flex;
    justify-content: space-between;
    padding: 75px;
}

.info .info-portfolio .border {
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;
}

.banner-video {
    margin: 150px;
    display: flex;
    width: 1400px;
    margin: auto;
    padding-top: 150px;
}

.banner-video .info {
    margin-left: 100px;
    width: 430px;
}

.banner-video .play {
    position: relative;
    max-width: 55px;
    max-height: 55px;
    left: -360px;
    bottom: -150px;
}

.banner-video .info h1 {
    margin-bottom: 15px;
}

.banner-video .info p {
    margin-bottom: 28px;
}

.banner-spider {
    width: 670px;
    height: 355px;
    border-radius: 16px;
    object-fit: cover;
}

.banner-video .info .colored {
    padding: 20px;
}

.colored-item {
    position: relative;
    list-style-type: none;
    margin-top: 5px;
}

.colored-item::before {
    content: url(/img/colored.png);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);

}

.game-portfolio {
    width: 1400px;
    margin: auto;
    margin-top: 180px;
}

.game-portfolio .info {
    display: flex;
    justify-content: space-between;
}

.game-portfolio .info h1 {
    margin-bottom: 43px;
}

.game-portfolio .info p {
    margin-bottom: 30px;
}

.game-portfolio .info button {
    background: #FA9021;
    padding: 20px 70px;
    border-radius: 5px;
    transition: all 500ms ease;
    border: 0;
    margin-top: 43px;
    font-size: 17px;
    color: var(--body-color);
    cursor: pointer;
}

.game-portfolio .info button:hover {
    background: #844501;
}

.game-portfolio .game-img {
    width: 550px;
    margin-left: 160px;
    padding-right: 100px;
    border-radius: 70px;
}

.game-portfolio2 {
    width: 1400px;
    margin: auto;
    margin-top: 180px;
}

.game-portfolio2 .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.game-portfolio2 .info h1 {
    margin-bottom: 43px;
}

.game-portfolio2 .info p {
    margin-bottom: 30px;
}

.game-portfolio2 .info button {
    background: #FA9021;
    padding: 20px 70px;
    border-radius: 5px;
    transition: all 500ms ease;
    border: 0;
    margin-top: 43px;
    font-size: 17px;
    color: var(--body-color);
    cursor: pointer;
}

.game-portfolio2 .info button:hover {
    background: #844501;
}

.game-portfolio2 .game-img {
    width: 550px;
    padding-right: 100px;
    margin-right: 100px;
}

.game-portfolio3 {
    width: 1400px;
    margin: auto;
    margin-top: 180px;
}

.game-portfolio3 .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.game-portfolio3 .info h1 {
    margin-bottom: 43px;
}

.game-portfolio3 .info p {
    margin-bottom: 30px;
}

.game-portfolio3 .info button {
    background: #FA9021;
    padding: 20px 70px;
    border-radius: 5px;
    border: 0;
    margin-top: 43px;
    font-size: 17px;
    color: var(--body-color);
    transition: all 500ms ease;
    cursor: pointer;
}

.game-portfolio3 .info button:hover {
    background: #844501;
}

.game-portfolio3 .game-img {
    width: 550px;
    margin-left: 160px;
    padding-right: 100px;
    border-radius: 70px;
}

/* Отзывы */

.reviews {
    background: var(--second-color);
    padding: 70px 0;
}

.reviews .container{
    text-align: center;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 55px;
}

.service-img-wrapper {
    background-color: #FFECEC;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.portfolio-img {
    width: 24px;
    height: 24px;
}

.service {
    display: flex;
    gap: 15px;
}

.service-info {
    text-align: center;
    margin-top: 35px;
    margin-left: 15px;
}

.service:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 130px;
}

.reviews .container {
    text-align: center;
    margin-top: 88px;
}

.reviews .container h1 {
    font-size: 35px;
    width: 448px;
    height: 100px;
    margin-bottom: 20px;
    margin: auto;
}

.reviews .container p {
    font-size: 14px;
    width: 555px;
    height: 52px;
    margin: auto;
    margin-top: 20px;
}

.reviews-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
}

.reviews-info .feedback {
    width: 400px;
    height: 230px;
    border: 1px solid white;
    border-radius: 10px;
}

/*Страница News*/

.news {
    text-align: center;
}

.search {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background: #1C140F;
    margin-top: 75px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
}

.search-field {
    width: 300px;
    border: 0;
    background: #1C140F;
    color: var(--body-color);
}

.search-field:focus {
    outline: none;
}